/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

@import "./assets/fonts/themify-icons.css";
@import "./assets/vendor/bootstrap-select/css/bootstrap-select.min.css";
@import "./assets/vendor/bootstrap-slider/css/bootstrap-slider.min.css";
@import "./assets/styles/css/done/done.min.css";
/* <link rel="stylesheet" href="./assets/fonts/themify-icons.css" />
    <link
      rel="stylesheet"
      href="./assets/vendor/bootstrap/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="./assets/vendor/bootstrap-select/css/bootstrap-select.min.css"
    />
    <link
      rel="stylesheet"
      href="./assets/vendor/bootstrap-slider/css/bootstrap-slider.min.css"
    />
    <link rel="stylesheet" href="./assets/styles/css/done/done.min.css" /> */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
