<!-- <div>
  <h1>courses</h1>
  <button type="button" routerLink="/courses/create">
    Create new Course
  </button>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>course Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of courses">
        <td>{{ course.name }}</td>
        <td>{{ course.description }}</td>
        <td>{{ course.points }}</td>
        <td>
          <button type="button" [routerLink]="['/courses/update/', course.id]">
            Update
          </button>
          <button type="button" (click)="delete(course._id)">
            Remove
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->

<!-- <section *ngFor="let course of courses">
  <div class="cardbox shadow bg-white custom-border">
    <div class="cardbox-heading">
      <div class="media m-0">
        <div class="media-body">
          <p
            class="m-0 btn btn-link"
            [routerLink]="['/courses/details/', course._id]"
          >
            {{ course.name }}
          </p>
          <small class="d-block">
            <span>
              <i class="fa fa-calendar-alt" aria-hidden="true">
                &nbsp;
              </i>
            </span>
          </small>
        </div>
      </div>
    </div>

    <div class="cardbox-item">
      <p class="m-3">{{ course.description }}</p>
    </div>

    <div class="cardbox-base">
      <ul>
        <li></li>
        <li>
          <button
            type="button"
            class="btn"
            data-toggle="tooltip"
            data-placement="left"
          >
            {{ course.points }} Points
          </button>
        </li>
      </ul>
      <ul class="float-right">
        <li>
          <i (click)="delete(course._id)" class="fa fa-share-alt"></i>
        </li>
      </ul>
    </div>
  </div>
</section> -->

<div *ngFor="let course of courses">
  <div class="frontside card">
    <div class="card-body text-center">
      <h4 class="card-title">{{ course.name }}</h4>
      <p class="card-text">{{ course.description }} loloooooo</p>
      <a
        [routerLink]="['/courses/update/', course.id]"
        class="btn btn-primary btn-sm"
        ><i class="fa fa-plus"></i
      ></a>
    </div>
  </div>
</div>
<!-- <div class="card text-left">
  <img class="card-img-top" src="holder.js/100px180/" alt="">
  <div class="card-body">
    <h4 class="card-title">Title</h4>
    <p class="card-text">Body</p>
  </div>
</div> -->
