<div class="container">
  <div class="row mt-5">
    <div class="col-md-12">
      <h4 class="mt-3">All Categories</h4>
      <div class="table-responsive">
        <table id="mytable" class="table table-bordred table-striped">
          <thead>
            <th>Name</th>
            <th>Edit</th>
            <th>Delete</th>
          </thead>
          <tbody>
            <tr *ngFor="let cat of categories">
              <td>
                <button
                  class="btn btn-link btn-link-info"
                  [routerLink]="['/categories/course', cat._id]"
                >
                  {{ cat.name }}
                </button>
              </td>
              <td>
                <p data-placement="top" data-toggle="tooltip" title="Edit">
                  <button
                    class="btn btn-primary btn-xs"
                    [routerLink]="['/categories/update/', cat._id]"
                  >
                    <span class="fa fa-pencil"></span>
                  </button>
                </p>
              </td>
              <td>
                <p data-placement="top" data-toggle="tooltip" title="Delete">
                  <button
                    class="btn btn-danger btn-icon"
                    (click)="delete(cat._id)"
                  >
                    <i class="fa fa-ban"></i>
                  </button>
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- modal -->
