<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 mb-4" [routerLink]="['/users/list/']">
        <div class="card pricing1">
          <img
            class="card-img px-lg mb-md"
            src="https://image.flaticon.com/icons/svg/476/476863.svg"
            alt=""
          />
          <div class="display-4 text-primary">List users</div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-4" [routerLink]="['/admin/add/']">
        <div class="card pricing1">
          <img
            class="card-img px-lg mb-md"
            src="https://image.flaticon.com/icons/svg/609/609195.svg"
            alt=""
          />
          <div class="display-4 text-primary">Add admin</div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-4" [routerLink]="['/courses/list/']">
        <div class="card pricing1">
          <img
            class="card-img px-lg mb-md"
            src="https://image.flaticon.com/icons/svg/2275/2275564.svg"
            alt=""
          />
          <div class="display-4 text-primary">List courses</div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-4" [routerLink]="['categories/list']">
        <div class="card pricing1">
          <img
            class="card-img px-lg mb-md"
            src="https://image.flaticon.com/icons/svg/2422/2422223.svg"
            alt=""
          />
          <div class="display-4 text-primary">List category</div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-4" [routerLink]="['/courses/create']">
        <div class="card pricing1">
          <img
            class="card-img px-lg mb-md"
            src="https://image.flaticon.com/icons/svg/3159/3159331.svg"
            alt=""
          />
          <div class="display-4 text-primary">Add courses</div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-4" [routerLink]="['/categories/add']">
        <div class="card pricing1">
          <img
            class="card-img px-lg mb-md"
            src="https://image.flaticon.com/icons/svg/1560/1560808.svg"
            alt=""
          />
          <div class="display-4 text-primary">Add category</div>
        </div>
      </div>
    </div>
  </div>
</section>
